// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #FFFFFF;

$darkgrey: #4A4A4A;
$midgrey: #9e9e9e;
$lightgrey: #ADADAD;
$black: #262626;
$hubert: #53B2AC;
$hubert-dark: #377B77;
