// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$white: #FFFFFF;
$bright-orange: #F37500;
$fade-orange: #ffca99;
$blueish: #24474E;
$darkgrey: #4A4A4A;
$midgrey: #9e9e9e;
$dark-orange: #ed6002;
