.container-box {
  position: absolute;
  background-color: rgba(120, 120, 120, 0.7);
  width: fit-content;
  padding: 20px 40px;
  margin-left: 5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.home-container {
  position: relative;
  margin-left: 5rem;
  margin-right: 5rem;
}

