.form-general {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0;
}

.form-description {
  border-bottom: 0;
}

.form-space-type {
  border-bottom: 0;
}

.form-location {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}