.index-container {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    flex-grow: 1;

    a {
      text-decoration: none;
      color: black;
    }
}
.container-main {
    display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
}
