.space-top {
  display: flex;
  justify-content: space-between;
}

.form-inline {

  .label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.booking-form {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 20px;
  width: 20rem;
}

.input-dates {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1em;
  font-size: 0.8rem;
  font-weight: 500;

}

.input-message {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 1em;

  .form-control {
    height: 5em;
    margin-bottom: 13px;
  }
}

.input-start-date {
  display: flex;
  justify-content: space-between;
}

.input-end-date {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

#booking_start_date_1i {
  width: auto;
  font-size: 0.8rem;
}
#booking_start_date_2i {
  width: auto;
  font-size: 0.8rem;
}
#booking_start_date_3i {
  width: auto;
  font-size: 0.8rem;
}

#booking_end_date_1i {
  width: auto;
  font-size: 0.8rem;
}
#booking_end_date_2i {
  width: auto;
  font-size: 0.8rem;
}
#booking_end_date_3i {
  width: auto;
  font-size: 0.8rem;
}
