<%= render "shared/navbar" %>
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h5>Hallo</h5>
      <p>Wie geht's?</p>
    </div>
    <div class="col-6">
      <%= render "form", space: @space %>
    </div>
  </div>
</div>
