
.card-grid {
  flex-grow: 1;
}

.card img {
  max-height: 12rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card {
  border-radius: 4px;
  border: 1px solid rgba(38, 38, 38, 0.125);
  max-width: 20em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-title {
  height: 2em;
}

.card-spacetype {
  margin-bottom: 8px;
  font-size: 0.7rem;
  color: $lightgrey;
  font-weight: 500;
}

.card-location {
  font-size: 0.7rem;
  color: #ADADAD;
}

.card-price {
  color: $hubert;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.card-details {

}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.status-green {
  display: table;
  padding: 3px 10px;
  font-size: 14px;
  font-style: italic;
  color: $green;
  background-color: $light-gray;
}

.status-red {
  display: table;
  padding: 3px 10px;
  font-size: 14px;
  font-style: italic;
  color: $red;
  background-color: $light-gray;
}


// CARDS

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-home {
  margin-left: 5px;
  margin-right: 5px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// HOSTINGS

.hostings-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: inherit;
  background-clip: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.hostings-card-body {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  min-height: 1px;
  padding-bottom: 1.25rem;
}

.hostings-card-left {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.hostings-card-info {
  margin-left: 20px;
}

.hostings-card-title {
  display: flex;
}

.hostings-buttons {
  display: grid;
  grid-gap: 8px;
}

// MYHUBS

.hub-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: inherit;
  background-clip: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.hub-card img {
  border-radius: 4px;
  object-fit: cover;
  max-width: 12em;
  max-height: 8em;
}

.hub-card-body {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  min-height: 1px;
  margin-bottom: 1em;
}

.hub-card-text {
    color: $darkgrey;
    p {
      margin-top: 0.4em;
    }
}

.hub-card-left {
  display: flex;
  flex: 1 1 auto;
  min-height: 1px;
  margin-top: 1em;
}

.hub-card-info {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.hub-card-title {
  display: flex;
}

.hub-card-options {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  justify-content: center;
  margin-bottom: 2em;
}
