.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $hubert;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $hubert-dark;
}

.footer-more a {
  padding: 12px;
  text-decoration: none;
  color: $hubert;
}

.footer-more a:hover {
   color: $hubert-dark;
}
