// index page
#map {

  height: 100vh;
  width: 40%;
  position: sticky;
  top: 0;
}

// media sizing
@media(max-width: 1200px)  {
    #map {
      display: block;
    }
}

@media(max-width: 950px)  {
    #map {
      display: block;
  }
}


@media(max-width: 750px) {

}
