.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
}


.navbar-lewagon-transparent {
  justify-content: space-between;
  background: transparent;
  z-index: 1;
}

.navbar-lewagon-transparent .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-transparent .navbar-brand img {
  width: 110px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: rgb(103, 204, 129);
}

.btn-ghost-home {
  color: $white;
  border: 1px solid $white;
  padding: 8px 24px;
  margin-right: 20px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-home:hover {
  opacity: 1;
  color: $darkgrey;
  background-color: $white
}

.btn-ghost {
  color: $darkgrey;
  border: 1px solid $darkgrey;
  padding: 8px 24px;
  margin-right: 20px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $white;
  background-color: $darkgrey
}
